<center>
<h5 style="color:#F8F9FA">SIGN UP AS A MAKEUP ARTIST<br>_____________</h5><br>
<% if @artist.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <p>
      <%= pluralize(@artist.errors.count, "error") %>
      prohibited this appointment from being saved:
    </p>
 
    <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<div class="card" style="width:600px">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
</center>