<center>
<h3>Sign Up as a Makeup Artist</h3>
<% if @artist.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@artist.errors.count, "error") %>
      prohibited this appointment from being saved:
    </p>
 
    <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<%= render 'form' %>
</center>