<center>
<% if @artist.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@artist.errors.count, "error") %>
      prohibited this appointment from being saved:
    </p>
 
    <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<div class="card" style="width:600px">
  <div class="card-header"><h3>Sign Up as a Makeup Artist</h3></div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
</center>