<h1>Welcome, <%= @client.name %>!</h1><br>
<img width="200" src="<%= @client.extra %>"><br><br>

<%= link_to "Click here", new_client_appointment_path(@client) %> to create a new appointment.
<br><br>
<%= link_to "Sign Out", signout_path, method: :delete %>
