<center>
<br>
<h4 style="color:#F8F9FA">WELCOME TO MAKEUP BY YUNA<br>_____________</h4>
<br><h5 style="color:#F8F9FA">
Hello! My name is Yuna Kim.<br>
I’m a budding make up artist servicing the Raleigh community in North Carolina. <br>
I’m a huge make up connoisseur and love exploring new makeup. <br>
But I’m also a firm believer in sticking with what’s tried and true! 
Hope you enjoy!!
</h5>
</center>