<center><h1>Welcome to Makeup by Yuna!</h1>
<img src="https://i.imgur.com/Ths9xXx.jpg">
<h3>Sign up as a <%= link_to "Client", new_client_path %><br>
Sign up as a <%= link_to "Makeup Artist", new_artist_path %><br>
Already have an account? <%= link_to "Sign In", signin_path %></h3></center>
