<center><h1>Welcome to Makeup by Yuna!</h1>
<img src="https://i.imgur.com/Ths9xXx.jpg">
<h3>Sign up as a <%= link_to "Client", new_client_path %> using email.<br>
Sign up as a <%= link_to "Makeup Artist", new_artist_path %> using email.<br>
Already have an account? Sign in using <%= link_to "email", signin_path %> or <%= link_to "Facebook", '/auth/facebook' %><br>
<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=358385804815972&autoLogAppEvents=1"></script>
<div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="false"></div> -->
</center>
