/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

body {
	background-image: url("/assets/makeup_img.png");
	background-color: white;
	height: 900px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#flash {
	color: red;
}


#error_explanation {
	color: red;
}

#error_explanation ul {
	list-style-type: none;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.container {
	padding-top: 15px;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}