<h1>Appointments for <%= @artist.name %></h1>
<table border="1">
    <tr>
      <th>Name</th>
      <th>Appointment Date</th>
    </tr>
    <% @artist.appointments.each do |app| %>
      <tr>
        <td align="center"><%= app.client.name %>
        <td align="center"><%= app.date_time %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
