<h1>Appointments for <%= @artist.name %></h1>
<table border="1">
    <tr>
      <th>Name</th>
      <th>Appointment Date</th>
    </tr>
    <% @artist.appointments.each do |app| %>
      <tr>
        <td align="center"><%= link_to "#{app.client.name}", client_path(app.client_id) %>
        <td align="center"><%= link_to "#{app.date_time}", client_appointment_path(app.client_id, app) %></td>
      </tr>
    <% end %>
  </table>
  <br><br>
  <%= link_to "Profile page", artist_path(@artist) %>
