<h1>Make an appointment</h1>
<% if @app.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@app.errors.count, "error") %>
      prohibited this appointment from being saved:
    </p>
 
    <ul>
    <% @app.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>
<%= render 'form' %>
