<center>
<h3 style="color: #F8F9FA">Make an appointment<br>_____________</h3>
<br>

<% if @app.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@app.errors.count, "error") %>
      prohibited this appointment from being saved:
    </p>
 
    <ul>
    <% @app.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="card" style="width:600px">
  <div class="card-body">
    <%= render 'form', client: @client %>
  </div>
</div>
</center>