<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <span class="navbar-brand mb-0 h1">Makeup by Yuna</span>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <div class="nav-link"><%= link_to "Sign Out", signout_path, method: :delete %></div>
        </li>
      </ul>
    </nav>
